@import "tailwindcss";

:root {
  --azul: #26529C;
  --verde: #A2C049;
  --navy: #173257;
  --cielo: #EAF1FB;
  --gris-claro: #F6F8FB;
  --gris-oscuro: #222B3A;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Heebo', sans-serif;
  background: #ffffff;
  color: #222B3A;
}
